*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#FFF8E7,#F3E460);
    color:#333;
    min-height:100vh;
}

/*Navegador*/

header{
    background:#ffffff;
    padding:25px 20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#e67e22;
}


/*Main*/
h1{
    padding: 12 px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
}

main{
    margin: 110px;
}
#principal{
    padding: 12rem;
    display: flex;
    padding: 3rem 3rem;
}

#participantes{
    padding: 7rem 28rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large; 

}

#contenedor-fotos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px
   
}

img{
    width:30%;
    border-radius:15px;
    /*display: block; margin: 0 auto;*/
}

#ima{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

